.Legend {
  display: block;
  text-align: center;
}

.Legend__row {
  display: inline-block;
  margin: 0 10px;
}

.Legend__indicator {
  width: 10px;
  height: 10px;
  display: inline-block;
}

.Legend__indicator_common {
  background: black;
}

.Legend__indicator_men {
  background: #2980b9;
}

.Legend__indicator_women {
  background: #c0392b;
}

.Legend__indicator_death-rate {
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  width: 100px;
}
