.Tooltip {
  position: absolute;
  z-index: 1;
}

.Tooltip__container {
  position: absolute;
  width: 150px;
  padding: 1rem;
  pointer-events: none;
  background: white;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(176, 169, 176, 1);
  -moz-box-shadow: 3px 3px 5px 0px rgba(176, 169, 176, 1);
  box-shadow: 3px 3px 5px 0px rgba(176, 169, 176, 1);
}

.Tooltip__line {
  pointer-events: none;
  position: absolute;

  top: 0;
  bottom: 0;
  width: 1px;

  background: rgba(0, 0, 0, 0.28);
}
